<footer>
    <div class="f-socialmedia-icons">
        <a href="www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-companyName"><a href="/"> &copf; Abyss Private Limited</a></div>
    <div class="f-company-links">
        <i class="space"><a href="">Privacy</a></i>
        <i class="space"><a href="">Terms</a></i>
    </div>
</footer>